* {
    box-sizing: border-box;
    margin: 1px;
    padding: 5px;
    background-color: #F8F1FF;
  }

.topnav { 
  list-style-type: none;
  margin: 3px;
  padding: 3px;
  overflow: hidden;
  background-color: #1B998B;  
}

.topnav a {
  float: right;
  background-color: #1B998B;
  color: black;
  text-align: center;
  padding: 16px 14px;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #DECDF5;
  
}

.topnav a:visited{
  color: black;
}

@media screen and (max-width: 600px){
  .topnav a{
  float: center;
  display: block;
  }
  }
  
body {
    font-size: 18px;
    font-family: Helvetica, sans-serif;
  }

body a{
  color: #1B998B;
  text-decoration: none;
  }

body a:visited{
  color: #534D56;
  text-decoration: none;
}

body a:hover{
  color:#656176;
}
  