* {
    box-sizing: border-box;
    margin: 1px;
    padding: 5px;
  }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: aqua;
}

li {
  float: right;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: whitesmoke;
}

  
  body {
    font-size: 18px;
    font-family: Arial;
  }
  