<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/styles/main.css">
    <title> GoodEnough - {{ page.title }} </title>

{% include head.html %}
<script src="/assets/js/menu.js"></script>
<script src="https://kit.fontawesome.com/09f8d77a54.js" crossorigin="anonymous"></script>
</head>
<body>

 <h3>GoodEnough.Systems</h3> 

    <div class="topnav" id="myTopnav">
        <a href="/" {% if page.title == "Home" %}class="active-page"{% endif %}>Home</a>
        <a href="/blog" {% if page.title == "Blog" %}class="active-page"{% endif %}>Blog</a>
        <a href="/about" {% if page.title == "About" %}class="active-page"{% endif %}>About</a>
        <a href="/contact" {% if page.title == "Contact" %}class="active-page"{% endif %}>Contact</a>
        <a href="javascript:void(0);" class="icon" onclick="menuFunction()">
        <i class="fa-solid fa-bars"></i>
    </a>    
                
    </div>
    <main class="page-content">
        {{ content }}
    </main>
    <footer>
        
    </footer>
</body>
</html>
